# Standard VS.NET
obj
bin
*.csproj.user
*.suo
TestResult.xml

# Resharper
*ReSharper*
*resharper*
*.cache

# Other useful stuff
* Thumbs.db
*.bak
*.cache
*.log
*.swp
*.user
*.DS_Store

# Ncqrs in non framework solution
/Extensions/lib/Ncqrs/*
/Samples/MyNotes/lib/*
/lib/Debug/*
/lib/Release/*
release
*.pidb

*.vs10x

# Merge stuff
*.orig
*.orig

# Mighty Moose
*.bin

#dotCover
*.dotCover
