# Standard VS.NET
obj
bin
*.csproj.user

# Resharper
*ReSharper*
*resharper*
*.suo
*.cache

# Other useful stuff
* Thumbs.db
*.bak
*.cache
*.log
*.swp
*.user

# Ncqrs in non framework solution
/Extensions/lib/Ncqrs/*
/Samples/MyNotes/lib/*
release