# Standard VS.NET
obj
bin
*.csproj.user
*.suo

# Resharper
*ReSharper*
*resharper*
*.cache

# Other useful stuff
* Thumbs.db
*.bak
*.cache
*.log
*.swp
*.user
*.DS_Store
*.vs10x

# Ncqrs in non framework solution
/Extensions/lib/Ncqrs/*
/Samples/MyNotes/lib/*
/lib/Debug
/lib/Release
release
*.pidb
/debug_build_output
/release_build_output
/Framework/NcqrsFramework.sln.VisualState.xml
/Framework/TestResult.xml