/*
----------------------------------------------------------*/
html {height:100%}
body {background:#82d2f5 url(bg-main.png) center bottom repeat-x;font-size:.75em;font-family:"Trebuchet MS", Arial, sans-serif;margin:0 0 400px 0;padding:0;color:#696969;}
a:link {color:#43d700;text-decoration:underline;}
a:visited {color:#579a39;}
a:hover {color:#13ca00;text-decoration:none;}
a:active {color:#009ee7;}
p, ul {margin-bottom:20px;}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size:1.7em;color:#000;}
h1 {font-size:2em;padding-bottom:0;margin-bottom:0;}
h2 {padding:0 0 10px 0;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5, h6 {font-size:1em;}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {margin-top:0;}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page {width:950px;margin-left:auto;margin-right:auto;}
#header {position:relative;margin:0;color:#000;padding:0 0 0 0;width:950px;background:url(bg-header.png) no-repeat right top;height:131px;}
	#header h1 {padding:17px 0 0 106px;margin:0;color:#134130;border:none;font-family:Arial, Helvetica, sans-serif;font-size:1.7em; line-height:1em;}
    #title {display:block;width:260px;float:left;margin:0; text-align:center;}
    #logindisplay {font-size:1.1em;display:block;text-align:right;color:#cdedfb;width:300px;position:absolute;top:80px;right:19px;font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;}
    #menucontainer {position:absolute;bottom:0;left:20px;_bottom:-1px}
#main {padding:30px 30px 15px 30px;background:#fff url(bg-main-corner-sprite.png) no-repeat;margin-bottom:30px;_height:1px;clear:both;position:relative;width:890px;}
#footer {color:#999;padding:30px 0;text-align:center;position:absolute;bottom:-70px;left:0;font-size:.9em;background:url(bg-main-corner-sprite.png) no-repeat -950px bottom;width:950px;}
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {padding:0;position:relative;margin:0 0 0 15px ;text-align:right;}
ul#menu li {display:block;list-style:none;background:#d5edc9 url(bg-nav-corner-sprite.png) no-repeat 0 -150px;float:left;margin:0 2px 0 0;font-size:1.3em;}
ul#menu li a {padding:10px 20px;font-weight:bold;text-decoration:none;color:#36ae00;background: transparent url(bg-nav-corner-sprite.png) no-repeat right -150px;display:block;}
ul#menu li a:hover {text-decoration:none;color:#000;}
ul#menu li a:active {text-decoration:none;color:#009933;}
ul#menu li.selected {background:#fff url(bg-nav-corner-sprite.png) no-repeat 0 -150px;}
ul#menu li.selected a {color:#000;}

/* MISC 
----------------------------------------------------------*/
.clear {clear:both;}
.error {color:Red;}
#logindisplay a:link, #logindisplay a:visited {color:#fff;text-decoration:underline;}
#logindisplay a:hover {color:#034af3;text-decoration:underline;}
.field-validation-error {color:#ff0000;}
.input-validation-error {border:1px solid #ff0000;background-color:#ffeeee;}
.validation-summary-errors {font-weight:bold;color:#ff0000;}
