<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlCeEventStore" 
         providerName="System.Data.SqlServerCe.3.5" 
         connectionString="Data Source=NcqrsIntegrationTests.sdf;Persist Security Info=False;" />
    <add name="MsSqlEventStore"
         connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=NcqrsIntegrationTests;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="SqlJoesEventStore"
         connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=NcqrsIntegrationTestsJoes;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>