<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="EventStore" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=NcqrsIntegrationTests;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="ncqrs" value="Verbose"/>
    </switches>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
