<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="EventStore"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MsSqlServerEventStoreTestEventStore;Integrated Security=True"
         providerName="System.Data.SqlClient.SqlConnection, System.Data" />
  </connectionStrings>
</configuration>